@font-face {
    font-family: 'beon';
    src: url('/src/assets/fonts/beon-webfont.woff2') format('woff2'),
         url('/src/assets/fonts/beon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cloud';
    src: url('/src/assets/fonts/cloud-light-webfont.woff2') format('woff2'),
         url('/src/assets/fonts/cloud-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}