@font-face {
    font-family: 'beon';
    src: url('../static/fonts/beon-webfont.woff2') format('woff2'),
         url('../static/fonts/beon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cloud';
    src: url('../static/fonts/cloud-light-webfont.woff2') format('woff2'),
         url('../static/fonts/cloud-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}